{{ partial "header.html" . }}

{{ $child_pages := union .Sections .Pages }}

<main id="index" role="main" class="main-panel">




  <div class="section row">
    {{ range $child_pages.ByTitle }}
      {{ if eq .Kind "page" }}


      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">folder</i>
          <span class="title red">{{ .CurrentSection.Title }}</span>
          <a href="{{ .Permalink }}">
            <p> {{ .Title }} </p>
          </a>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      </ul>




      {{ else }}
        {{/* .Kind is section*/}}
        <div class="col s4 m4">
          <a href="{{ .Permalink }}">
          <div class="card hoverable">
            <div class="card-image">
              {{/* Using Page Resource to retrive image */}}
              {{ with .Resources.GetMatch "icon*" }}
                <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
              {{ end }}
              <span class="card-title">{{ .Title }}</span>
            </div>
            {{ with .Content }}
              <div class="card-content">
                <p>{{ . }}</p>
              </div>
            {{ end }}

            {{ with .Params.action }}
            <div class="card-action">
              <a href="{{.Permalink}}">{{ .Params.action }}</a>
            </div>
            {{ end }}
          </div>
          </a>
        </div>
      {{ end }}
    {{ end }}
  </div>
</main>

{{partialCached "script.html" .}}
