.cheatsheet {
    &-header {
        margin-top: 0px;
        margin-bottom: 0px;
        > h1 {
            text-align: center;
            font-size: 3em;
            font-weight: 200;
            color: #345;
            > em {
                font-style: normal;
                color: #9eaab6;
            }
        }
    }
    > .card {
        background-color: #ebecee;
    }
}

.h3-section {
    box-sizing: border-box;
    break-inside: avoid;
    padding: 0.5em;
    > {
      h3 {
        margin-top: 8px;
        margin-bottom: 16px;
        white-space: nowrap;
        overflow: hidden;
        color: #745fb5;
        font-size: 1.5em;
      }
      .body {
        background: #fff;
        overflow-x: auto;
        border-radius: 5px;
        box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3);
        > .highlight {
          margin: 0;
          padding: 16px;
        }
        > p {
          margin: 0;
          padding: 16px;
        }
      }
    }
  }

.h3-section-list {
    column-count: 1;
    column-gap: 0;
    
    @media screen and (min-width: 768px) {
      column-count: 2;
    }
    
    @media screen and (min-width: 992px) {
      column-count: 3;
    }
}
